html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Debug styles */
.debug, .red, .r {
  outline: 1px dashed red;
}

.green, .g {
  outline: 1px dashed #00df02;
}

.blue, .b {
  outline: 1px dashed blue;
}

.grey, .g {
  outline: 1px dotted #555;
}

.yellow, .y {
  outline: 1px dashed #ffd700;
}

.debug-mode * {
  outline: 2px dotted red !important;
}

.debug-mode * * {
  outline: 2px dotted green !important;
}

.debug-mode * * * {
  outline: 2px dotted orange !important;
}

.debug-mode * * * * {
  outline: 2px dotted blue !important;
}

.debug-mode * * * * * {
  outline: 1px dashed red !important;
}

.debug-mode * * * * * * {
  outline: 1px dashed green !important;
}

.debug-mode * * * * * * * {
  outline: 1px dashed orange !important;
}

.debug-mode * * * * * * * * {
  outline: 1px dashed blue !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

* {
  outline: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th:empty, td:empty {
  content: '\0000';
}

form {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.clear, .clr {
  clear: both;
  overflow: hidden;
  height: 0;
  *zoom: 1;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* Basic styles */
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0 1%;
  border-top: 4px solid #ac572e;
  color: #636363;
  background: #faf4f2;
  font: normal normal 10px "vollkornregular", serif;
  text-align: center;
}

/*-- Fonts --*/
/*
  Open Sans Styles
  Light - 300
  Normal - 400
  Medium - 500
  Semi-Bold - 600
  Bold - 700
  Extra-Bold - 800
 */
@font-face {
  font-family: "vollkornregular";
  src: url("../fonts/vollkorn-regular-webfont.eot");
  src: url("../fonts/vollkorn-regular-webfont#iefix") format("embedded-opentype");
  src: local("null"), url("../fonts/vollkorn-regular-webfont.woff2") format("woff2"), url("../fonts/vollkorn-regular-webfont.woff") format("woff"), url("../fonts/vollkorn-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "vollkornmedium";
  src: url("../fonts/vollkorn-regular-webfont.eot");
  src: url("../fonts/vollkorn-regular-webfont#iefix") format("embedded-opentype");
  src: local("null"), url("../fonts/vollkorn-regular-webfont.woff2") format("woff2"), url("../fonts/vollkorn-regular-webfont.woff") format("woff"), url("../fonts/vollkorn-regular-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "vollkornsemibold";
  src: url("../fonts/vollkorn-semibold-webfont.eot");
  src: url("../fonts/vollkorn-semibold-webfont#iefix") format("embedded-opentype");
  src: local("null"), url("../fonts/vollkorn-semibold-webfont.woff2") format("woff2"), url("../fonts/vollkorn-semibold-webfont.woff") format("woff"), url("../fonts/vollkorn-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "vollkornbold";
  src: url("../fonts/vollkorn-bold-webfont.eot");
  src: url("../fonts/vollkorn-bold-webfont#iefix") format("embedded-opentype");
  src: local("null"), url("../fonts/vollkorn-bold-webfont.woff2") format("woff2"), url("../fonts/vollkorn-bold-webfont.woff") format("woff"), url("../fonts/vollkorn-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
strong {
  font-weight: 700;
}

strong.extra {
  font-weight: 800;
}

strong.medium {
  font-weight: 600;
}

.alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 15px 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 2em;
  text-align: left;
}

.success {
  border-color: #3c7646;
  color: #3c7646;
  background-color: #cce5d0;
}

.neutral {
  border-color: #555;
  color: #555;
  background-color: #eeeeee;
}

.info {
  border-color: #2b627e;
  color: #2b627e;
  background-color: #d2e6f0;
}

.warning {
  border-color: #735d32;
  color: #735d32;
  background-color: #ebe3d2;
}

.error {
  border-color: #a94442;
  color: #a94442;
  background-color: #f2dfde;
}

.wrapper {
  display: inline-block;
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
}

.breadcrumbs {
  margin-bottom: 10px;
  padding-left: 5px;
}
.breadcrumbs li {
  font-size: 13px;
  font-size: 1.3rem;
  color: #acacac;
  font-family: "vollkornregular", serif;
  text-transform: capitalize;
}
.breadcrumbs li a {
  color: #acacac;
}
.breadcrumbs li a:hover {
  color: #000;
  text-decoration: none;
}

.page-title h1, .page-title h2, .product-name h1, .product-name .h1 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ededed;
  color: #636363;
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* Header */
header {
  background: url("../images/header/header_bg_02.png") repeat-x 0 100%;
}
header .logo {
  display: block;
  width: 30.78%;
  margin: 0 auto;
  max-width: 10000px;
  min-height: 0;
  padding: 0;
  float: none;
}
header .logo img {
  opacity: 1;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

footer {
  border-top: 1px solid #e3d3c7;
  padding-top: 15px;
  margin-bottom: 12px;
}
footer .wrapper {
  padding-bottom: 45px;
  border-bottom: 1px solid #e3d3c7;
}
footer .footer-links {
  width: 67%;
}
footer .footer-links > li {
  float: left;
  width: 18%;
  margin-right: 7%;
}
footer .footer-links > li:hover h3 {
  border-color: #2e83ac;
  color: #000;
}
footer .footer-links li li {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 6px;
}
footer .footer-links a {
  color: #636363;
  display: block;
  text-decoration: none;
}
footer .footer-links a:hover {
  color: #000;
}
footer h3 {
  color: #636363;
  text-transform: uppercase;
  border-bottom: 1px solid #e3d3c7;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: "Fanwood Text", serif;
  margin-bottom: 5px;
  font-size: 14px;
  font-size: 1.4rem;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-right-block {
  float: right;
  width: 32.1%;
}
.footer-right-block h3 {
  border: 0;
  margin-bottom: 2px;
}
.footer-right-block .subscribe-me input {
  padding-left: 15px;
}
.footer-right-block .subscribe-me .btn {
  float: left;
  position: relative;
  top: 3px;
}
.footer-right-block .subscribe-me:hover .rounded-input, .footer-right-block .subscribe-me:hover .rounded-input * {
  border-color: #2e83ac;
}
.footer-right-block .subscribe-me:hover .btn {
  background: #2e83ac;
}
.footer-right-block .subscribe-me:hover h3 {
  color: #000;
}
.footer-right-block .rounded-input {
  width: 279px;
  float: left;
  margin-right: 8px;
}
.footer-right-block .rounded-input input {
  background-image: none;
}

.copyright {
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  color: #898989;
}
.copyright:hover {
  color: #2e83ac;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* BLOCK */
.header-left {
  float: left;
  width: 28.36%;
  min-width: 340px;
}
.header-left .contact-info {
  font-size: 15px;
  font-size: 1.5rem;
  margin: 16px 0 0 2%;
  margin-bottom: 17px;
  line-height: 1.4em;
}
.header-left .contact-info span {
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  margin: auto 4px;
  color: #cfbaa9;
}
.header-left .contact-info span.tel {
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: auto;
  color: #ac572e;
  font-weight: 700;
}
.header-left:hover .contact-info span.tel {
  color: #2e83ac;
}
.header-left:hover .rounded-input {
  border-color: #2e83ac;
}
.header-left:hover input {
  border-color: #2e83ac;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* BLOCK */
.header-right {
  float: right;
  width: 30%;
  min-width: 360px;
}
.header-right .acc-links {
  float: right;
  margin-bottom: 45px;
  padding-top: 10px;
}
.header-right .acc-links a {
  font-size: 14px;
  font-size: 1.4rem;
}
.header-right .acc-links li {
  float: left;
}
.header-right .acc-links li:first-child {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #e4d6cd;
}
.header-right .favs-bag {
  float: right;
}
.header-right .favs-bag li {
  float: left;
  position: relative;
}
.header-right .favs-bag li:first-child {
  margin-right: 20px;
}
.header-right .favs-bag li > strong {
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 43px;
  height: 43px;
  opacity: 0;
}
.header-right .favs-bag li:hover strong {
  opacity: 1;
}
.header-right .favs-bag li:hover span {
  border-color: #338fb9;
}
.header-right .favs-bag a.cart-button {
  font-size: 15px;
  font-size: 1.5rem;
  box-sizing: border-box;
  height: 43px;
  padding-top: 5px;
  padding-left: 56px;
}
.header-right .favs-bag a.cart-button span {
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  padding: 6px 17px 8px 0;
  border-top: 1px solid #e3d3c7;
  border-bottom: 1px solid #e3d3c7;
  background: url("../images/header/favs_arr.gif") no-repeat 100% 50%;
}
.header-right .favs-bag em {
  font-style: normal;
}
.header-right .favs strong {
  background: url("../images/header/right_block_icons_07.gif") no-repeat 0 -100px;
}
.header-right .favs a {
  background: url("../images/header/right_block_icons_07.gif") no-repeat 0 0;
}
.header-right .bag {
  position: relative;
}
.header-right .bag > strong {
  background: url("../images/header/right_block_icons_07.gif") no-repeat 0 -300px;
}
.header-right .bag a.cart-button {
  background: url("../images/header/right_block_icons_07.gif") no-repeat 0 -200px;
}
.header-right .bag:hover .mc-cart {
  display: block;
}
.header-right a {
  display: block;
  color: #636363;
  text-decoration: none;
}
.header-right a:hover {
  color: #000;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* BLOCK */
.rounded-input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 3px;
  border: 2px solid #ebe0d8;
}
.rounded-input input {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 1.4rem;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 42px;
  padding: 13px 15px 13px 34px;
  border: 1px solid #e6d6cd;
  color: #acacac;
  background: #fff9f7 url("../images/header/search_lens.png") no-repeat 9px 50%;
  font-family: "vollkornregular", serif;
}
.rounded-input input.focus {
  color: #636363;
}
.rounded-input:hover {
  border-color: #2e83ac;
}
.rounded-input:hover input {
  border-color: #2e83ac;
}
.rounded-input label {
  display: none;
}

#search {
  font-family: "vollkornregular", serif;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

.btn {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #7ea6a4;
  font-family: "vollkornregular", serif;
}
.btn:hover {
  background: #2e83ac;
  text-decoration: none;
  color: #fff;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

.main-nav {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e3d3c7;
}
.main-nav > ul {
  display: table-row;
  width: 100%;
}
.main-nav > ul > li {
  display: table-cell;
  position: relative;
  text-align: center;
  /* Popup*/
}
.main-nav > ul > li li {
  position: relative;
}
.main-nav > ul > li li.level0.parent ul {
  display: none;
  right: 0;
  left: 90%;
  margin-top: -20px;
}
.main-nav > ul > li li.level0.parent:hover ul {
  display: block;
}
.main-nav > ul > li ul {
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  left: 25px;
  z-index: 10;
  min-width: 190px;
  margin-top: -5px;
  border: 1px solid #ecd5cd;
  background: #fff;
}
.main-nav > ul > li ul li {
  width: 100%;
  border-bottom: 1px solid #ecd5cd;
}
.main-nav > ul > li ul li:last-child {
  border: 0;
}
.main-nav > ul > li ul a {
  display: block;
  padding: 7px 30px 7px 11px;
  background: #fdfaf9;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
}
.main-nav > ul > li ul a:hover {
  color: #000;
  background: #f6ebe7;
}
.main-nav > ul > li a {
  font-size: 15px;
  font-size: 1.5rem;
  display: inline-block;
  padding: 12px 0 13px;
  color: #636363;
  font-family: "Fanwood Text", serif;
  text-decoration: none;
  word-spacing: 3px;
  text-transform: uppercase;
}
.main-nav > ul > li a:hover {
  color: #111;
}
.main-nav > ul > li.menu > a {
  padding-right: 16px;
  background: url("../images/header/favs_arr.gif") no-repeat 100% 40%;
}
.main-nav > ul > li:hover ul {
  display: block;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

.main-nav {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e3d3c7;
}
.main-nav > ul {
  display: table-row;
  width: 100%;
}
.main-nav > ul > li {
  display: table-cell;
  position: relative;
  text-align: center;
  /* Popup*/
}
.main-nav > ul > li li {
  position: relative;
}
.main-nav > ul > li li.level0.parent ul {
  display: none;
  right: 0;
  left: 90%;
  margin-top: -20px;
}
.main-nav > ul > li li.level0.parent:hover ul {
  display: block;
}
.main-nav > ul > li ul {
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  left: 25px;
  z-index: 10;
  min-width: 190px;
  margin-top: -5px;
  border: 1px solid #ecd5cd;
  background: #fff;
}
.main-nav > ul > li ul li {
  width: 100%;
  border-bottom: 1px solid #ecd5cd;
}
.main-nav > ul > li ul li:last-child {
  border: 0;
}
.main-nav > ul > li ul a {
  display: block;
  padding: 7px 30px 7px 11px;
  background: #fdfaf9;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
}
.main-nav > ul > li ul a:hover {
  color: #000;
  background: #f6ebe7;
}
.main-nav > ul > li a {
  font-size: 15px;
  font-size: 1.5rem;
  display: inline-block;
  padding: 12px 0 13px;
  color: #636363;
  font-family: "Fanwood Text", serif;
  text-decoration: none;
  word-spacing: 3px;
  text-transform: uppercase;
}
.main-nav > ul > li a:hover {
  color: #111;
}
.main-nav > ul > li.menu > a {
  padding-right: 16px;
  background: url("../images/header/favs_arr.gif") no-repeat 100% 40%;
}
.main-nav > ul > li:hover ul {
  display: block;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

.mc-cart {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: none;
  position: absolute;
  z-index: 15;
  padding: 12px 24px;
  border: 1px solid #ecd5cd;
  background: #fff;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  font-family: "vollkornregular", serif;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* BLOCK */
section.content {
  padding-top: 30px;
}
section.content.col1-layout .col-main {
  width: auto;
  margin: 0 1.5%;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* Layered nav */
.block.block-layered-nav {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 0 21px 20px 18px;
  border: 1px solid #e3d3c7;
  background: #fff9f7;
}
.block.block-layered-nav .block-title {
  display: none;
}
.block.block-layered-nav .odd, .block.block-layered-nav .even {
  border: 0;
}
.block.block-layered-nav dt.even, .block.block-layered-nav dt.odd {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 3px;
  padding: 7px 0;
  border-bottom: 1px solid #e3d3c7;
  color: #636363;
  background: none;
  font-family: "Fanwood Text", serif;
  text-transform: uppercase;
}
.block.block-layered-nav dt.even:hover, .block.block-layered-nav dt.odd:hover {
  background-color: transparent;
}
.block.block-layered-nav dd.even, .block.block-layered-nav dd.odd {
  padding: 10px 10px 15px 0;
  border-top: 1px solid #e3d3c7;
}
.block.block-layered-nav dd.even ol a, .block.block-layered-nav dd.odd ol a {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 5px 0;
  color: #555;
  font-family: "vollkornregular", serif;
}
.block.block-layered-nav dd.even ol a .count, .block.block-layered-nav dd.odd ol a .count {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 3px;
  color: #ac572e;
}
.block.block-layered-nav dd.even ol a:hover .count, .block.block-layered-nav dd.odd ol a:hover .count {
  color: #000 !important;
}
.block.block-layered-nav dd.even ol a:hover, .block.block-layered-nav dd.odd ol a:hover {
  color: #000;
  text-decoration: none;
}
.block.block-layered-nav dl {
  padding-top: 10px;
}

#narrow-by-list dd .configurable-swatch-list {
  margin-bottom: 10px;
  margin-left: auto;
}

#narrow-by-list dd .configurable-swatch-list li {
  margin-left: 0;
  line-height: auto !important;
}
#narrow-by-list dd .configurable-swatch-list li .swatch-link.has-image .swatch-label {
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 0;
}
#narrow-by-list dd .configurable-swatch-list li .swatch-link.has-image .swatch-label img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #999;
}
#narrow-by-list dd .configurable-swatch-list li .swatch-link.has-image .swatch-label img:hover {
  border-color: #555;
}
#narrow-by-list dd .configurable-swatch-list li a {
  padding: 15px 0 0 0;
}
#narrow-by-list dd .configurable-swatch-list li .count {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-left: 3px;
  color: #ac572e;
}
#narrow-by-list dd .configurable-swatch-list li .swatch-label {
  box-sizing: border-box;
  width: 30px;
  padding: 3px 5px;
  border: 1px solid #e7bba5;
  color: #555;
}
#narrow-by-list dd .configurable-swatch-list li .swatch-label:hover {
  border-color: #2e83ac;
  color: #000;
}

.catalog-category-view .col-left {
  box-sizing: border-box;
  width: 18.4%;
  margin-right: 2.5%;
  padding: 36px 0 20px 0;
  background: url("../images/catalog/layered_nav_bg.gif") no-repeat 50% 0;
}
.catalog-category-view .col-main {
  width: 79.1%;
}
.catalog-category-view .col-main + .col-left {
  display: none;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* BLOCK */
.home-block {
  padding-bottom: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #e3d3c7;
}
.home-block h2 {
  color: #ac572e;
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 3px;
  padding-left: 10px;
  text-shadow: 1px 1px 0 #b3b3b3;
}
.home-block img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.clearfix, header, .footer-right-block, .header-right .acc-links {
  *zoom: 1;
}
.clearfix:after, header:after, .footer-right-block:after, .header-right .acc-links:after {
  content: " ";
  display: table;
  clear: both;
}

/* Header */
.catalog-category-view .col-main {
  margin-top: -10px;
  padding-bottom: 20px;
}
.catalog-category-view .col-main .page-title h1 {
  margin-bottom: 12px;
}
.catalog-category-view h1 {
  border: 0;
}
.catalog-category-view .category-image {
  padding: 0;
  border: 0;
}
.catalog-category-view .category-image img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e3d3c7;
}
.catalog-category-view .toolbar {
  background-color: transparent;
  border-color: #e3d3c7;
}
.catalog-category-view .toolbar label {
  text-transform: none;
  font-family: "vollkornregular", serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #636363;
}
.catalog-category-view .toolbar select {
  padding: 0 auto;
  box-sizing: border-box;
  height: 30px;
}
.catalog-category-view .toolbar .view-mode .grid {
  margin-right: 0;
}

.products-list > li .product-image {
  width: 25%;
  max-height: 180px;
  overflow: hidden;
  border: 1px solid #e3d3c7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.products-list > li .product-image:hover {
  border-color: #2e83ac;
}
.products-list .product-shop {
  padding-left: 2%;
  width: 75%;
  box-sizing: border-box;
}
.products-list .product-shop .product-primary {
  float: none;
  width: 100%;
}
.products-list .product-shop .product-primary .ratings {
  display: none;
}
.products-list .product-shop .product-primary .configurable-swatch-list {
  margin-bottom: 15px;
}
.products-list .product-shop .product-secondary {
  text-align: left;
  float: none;
  width: 100%;
}
.products-list .product-shop .desc {
  float: none;
  width: 100%;
  padding-top: 17px;
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 1.4rem;
}
.products-list .product-shop .desc a {
  color: #ac572e;
}
.products-list .product-shop .product-name {
  font-family: "vollkornregular", serif;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.products-list .product-shop .product-name a {
  color: #636363;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.products-list .product-shop .product-name a:hover {
  color: #2e83ac;
}
.products-list .price-box .price, .products-list .price {
  color: #ac572e;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "vollkornregular", serif;
}
.products-list .add-to-links {
  width: 100%;
  float: left;
  margin: 0 0 7px;
}
.products-list .add-to-links li {
  float: left;
  display: inline-block;
}
.products-list .add-to-links li a {
  font-size: 13px;
  font-size: 1.3rem;
  color: #ac572e;
  display: block;
  margin-right: 10px;
}
.products-list .double-line {
  border-top: 1px solid #e3d3c7;
  border-bottom: 1px solid #e3d3c7;
  height: 4px;
  float: left;
  width: 100%;
}

/*# sourceMappingURL=main_styles.dev.css.map */
