# IDE settings
/.project
/.metadata
/.settings
/.buildpath
/.classpath
.idea
*.iml
/nbproject
.sass-cache

# Magento
/app/etc/local.xml
/errors/local.xml
/media
/var
/google*.html
/downloader/.cache/*
/downloader/cache.cfg
/downloader/connect.cfg
/includes/src/*
/affiliates
/working

#  Temporary ignored
/app/design/frontend/base
/app/design/frontend/rwd
/app/design/frontend/default
/skin/frontend/base
/skin/frontend/rwd
/skin/frontend/default


# Files
*.psd
*.bak
