@import "../core/_vars";
@import "../core/_mixins";
/* BLOCK */

$BLOCK: "section.content";

#{$BLOCK} {
  padding-top: 30px;

  &.col1-layout .col-main {
    width: auto;
    margin: 0 1.5%;
  }
}


