@import "../core/_vars";
@import "../core/_mixins";
/* BLOCK */

$BLOCK: ".header-left";

#{$BLOCK} {
  float: left;
  width: 28.36%;
  min-width: 340px;

  .contact-info {
    @include rem(15);

    margin: 16px 0 0 2%;
    margin-bottom: 17px;
    line-height: 1.4em;

    span {
      @include rem(18);

      display: inline-block;
      margin: auto 4px;
      color: #cfbaa9;
      &.tel {
        @include transition();

        margin: auto;
        color: $brown;
        font-weight: 700;
      }
    }
  }

  &:hover .contact-info span.tel {
    color: #2e83ac;
  }
}
