@import "../core/_vars";
@import "../core/_mixins";
/* BLOCK */

$BLOCK: '.header-left';

#{$BLOCK}{

  float: left;
  width: 28.36%;
  min-width: 340px;

  .contact-info{

    @include rem(15);
    margin: 16px 0 0 2%;
    line-height: 1.35em;
    margin-bottom: 17px;

    span{
      @include rem(18);
      display: inline-block;
      color: #cfbaa9;
      margin: auto 4px;
      &.tel{
        font-weight: 700;
        color: $brown;
        margin: auto;
        @include transition();
      }
    }
  }
  
  &:hover .contact-info span.tel{
    color: #2e83ac;
  }

}


