@import "../core/_vars";
@import "../core/_mixins";
$BLOCK: 'header';

/* Header */

#{$BLOCK}{

  background: url("#{$img}/header/header_bg_02.png") repeat-x 0 100%;
  @extend .clearfix;

  .logo{

    display: block;
    width: 30.78%;
    margin: 0 auto;
    max-width: 10000px;
    min-height: 0;
    padding: 0;
    float: none;

    img{
      opacity: 1;
      @include transition();
    }
    &:hover img{
      //opacity: 0;
      //opacity: 0.005;
    }

  }

}

#header{
  display: none;
}



