@import "_vars";
@import "_mixins";

/* Basic styles */

html {
  font-size: $base-font-size;
}
body {
  margin: 0;
  padding: 0 1%;
  border-top: 4px solid $brown;
  color: #636363;
  background: $body_color;
  font: normal normal $base-font-size $base_font;
  text-align: center;
}

/*-- Fonts --*/

/*
  Open Sans Styles
  Light - 300
  Normal - 400
  Medium - 500
  Semi-Bold - 600
  Bold - 700
  Extra-Bold - 800
 */

@font-face {
  @include font-family(vollkornregular, vollkorn-regular-webfont, 400);
}
@font-face {
  @include font-family(vollkornmedium, vollkorn-regular-webfont, 500);
}
@font-face {
  @include font-family(vollkornsemibold, vollkorn-semibold-webfont, 600);
}
@font-face {
  @include font-family(vollkornbold, vollkorn-bold-webfont, 700);
}

strong {
  font-weight: 700;
}
strong.extra {
  font-weight: 800;
}
strong.medium {
  font-weight: 600;
}

// Alert blocks

$success: #3c7646;
$neutral: #555;
$info: #2b627e;
$warning: #735d32;
$error: #a94442;

.alert {
  @include border-radius();

  margin: 10px;
  padding: 15px 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 2em;
  text-align: left;
}
.success {
  border-color: $success;
  color: $success;
  background-color: lighten($success, 50%);
}
.neutral {
  border-color: $neutral;
  color: $neutral;
  background-color: lighten($neutral, 60%);
}
.info {
  border-color: $info;
  color: $info;
  background-color: lighten($info, 55%);
}
.warning {
  border-color: $warning;
  color: $warning;
  background-color: lighten($warning, 55%);
}
.error {
  border-color: $error;
  color: $error;
  background-color: lighten($error, 45%);
}
.wrapper {
  display: inline-block;
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
}

.breadcrumbs {
  margin-bottom: 10px;
  padding-left: 5px;
  li {
    @include rem(13);

    color: #acacac;
    font-family: $font_voll;
    text-transform: capitalize;
    a {
      color: #acacac;
    }
    a:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

.page-title h1, .page-title h2, .product-name h1, .product-name .h1 {
  @include rem(24);

  margin-bottom: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ededed;
  color: #636363;
  font-family: $font_fan;
  font-weight: 400;
  text-transform: uppercase;
}
