@import "_vars";

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($args: 2px 2px 2px 0 rgba(0,0,0,0.3)) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  box-shadow: $args;
}

// Box-sizing
@mixin box-sizing($type: border-box){
  //-webkit-box-sizing:$type;
  //-moz-box-sizing:$type;
  box-sizing:$type;
}

// Cross-browser opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Cross-browser clearfix IE5+

%clearfix, .clearfix{
  *zoom: 1;
  &:after{
    content: " ";
    display: table;
    clear: both;
  }
}


@mixin triangle($size: 10px, $color: #fff, $direction: top) {
  width: 0;
  height: 0;
  border: $size solid transparent;
  border-#{$direction}-color: $color;
}
@mixin transition($duration: 0.2s, $easing: ease-in-out, $target: all) {
  -ms-transition: $target $duration $easing;
  -o-transition: $target $duration $easing;
  -moz-transition: $target $duration $easing;
  -webkit-transition: $target $duration $easing;
  transition: $target $duration $easing;
}

// Simple media query

@mixin respond-to($res) {
  @media only screen and (max-width: $res) {
    @content;
  }
}
@mixin media($res) {
  @media only screen and (max-width: $res) {
    @content;
  }
}

// Media Query in Range

@mixin respond-to-range($min,$max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
@mixin media-range($min,$max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
// Custom fonts

$font_path: '../fonts';
@mixin font-family($font_name, $font_file_name, $weight: normal, $style: normal, $family: sans-serif) {
  font-family: '#{$font_name}';
  src: url('#{$font_path}/#{$font_file_name}.eot');
  src: url('#{$font_path}/#{$font_file_name}#iefix') format('embedded-opentype');
  src:local('null'),
  url('#{$font_path}/#{$font_file_name}.woff2') format('woff2'),
  url('#{$font_path}/#{$font_file_name}.woff') format('woff'),
  url('#{$font_path}/#{$font_file_name}.ttf') format('truetype');
  font-weight: $weight;
  font-style: $style;
}

// ==================== GRADIENTS ======================= //

// Horizontal gradient, from left to right
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1-6, Chrome 10+
  background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

// Vertical gradient, from top to bottom
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

// Text-indent + bg (Logo like)
@mixin text-indent($bg-url, $block-width: auto, $block-height: auto){
  background: url("#{$bg-url}") no-repeat 0 0;
  width: $block-width;
  height: $block-height;
  text-indent: -9999px;
  overflow: hidden;
}
// TODO: solve the font size changes
// Font-size in rem

@function parseInt($number) {
  @return $number / ($number * 0 + 1);
}

@mixin rem($existent-font-size: 14){
  font-size: parseInt($existent-font-size) + px;
  font-size: ($existent-font-size / 10) + rem;

}


// TODO May be it's fine to find better retina mixin
// Retina background

@mixin retina-bg($image-name, $ext, $width: auto, $height: auto, $repeat: no-repeat, $position: center center, $arguments...) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background: url("#$(img)/$image + '@2x' + $ext") $repeat $position $arguments;
    background-size: $width $height;
  }
}
@mixin retina-bg-cover($image-name, $ext, $size, $repeat: no-repeat, $position: center center, $arguments: cover) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background: url("#$(img)/$image + '@2x' + $ext") $repeat $position $arguments;
    background-size: $size;
  }
}







