$base_font: 'vollkornregular', serif;
$base-font-size: 10px;
$font_voll: 'vollkornregular', serif;
$font_fan: 'Fanwood Text', serif;
$font_pf: 'pf_din_text_comp_proregular', sans-serif;

$img: '../images';

// Responsive resolutions
$xl: 1200px;
$w1100: 1100px;
$lg: 992px;
$w882: 882px;
$w854: 854px;
$w800: 800px;
$md: 768px;
$w640: 640px;
$w600: 600px;
$sm: 480px;
$xs: 345px;
$w320: 320px;

// Colors
$white: #fff;
$black: #000;
$brown: #ac572e;
$light_brown: #e3d3c7;
$body_color: #faf4f2;
$this_blue: #2e83ac;
$grey_text: #636363;

